@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: rgb(103, 103, 103);
  box-sizing: border-box;
  font-size: 14px;
}

.tick {
  width: 4px;
  height: 4px;
  display: inline-block;
}

.tick.large {
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

.key {
  padding-left: 15px;
  margin-top: 0;
}

decisions {
  display: block;
}

decisions .tick[class*="n"] {
  width: 7px;
  height: 7px;
}

decisions .tick[class*="l"] {
  height: 10px;
}

decisions .tick[class*="d"] {
  border-radius: 50%;
}

.node,
.decision,
.leaf {
  position: relative;
}

.node {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 25px;
  padding-top: 7px;
}

.node .branch {
  border-bottom: 1px solid rgb(191, 191, 191);
  width: 80%;
  margin-left: 10%;
  padding-bottom: 10px;
}

.tick.n0 {
  background: rgb(74, 110, 178);
}

.tick.n1 {
  background: rgb(38, 176, 105);
}

.tick.n2 {
  background: rgb(210, 54, 74);
}

.tick.n3 {
  background: rgb(136, 105, 179);
}

.tick.n4 {
  background: rgb(75, 184, 208);
}

.tick.n5 {
  background: rgb(205, 188, 111);
}

.tick.n6 {
  background: rgb(49, 72, 95);
}

.tick.n7 {
  background: rgb(226, 112, 228);
}

.decisions {
  width: 100%;
  margin-top: 15px;
  height: auto;
}

.decisions:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.decision {
  display: inline-block;
  width: 100%;
  float: left;
  width: 33.3333%;
}

.leaf {
  margin-top: 25px;
  padding-top: 7px;
}

.tick.l1,
.tick.d1 {
  background: rgb(23, 0, 129);
}

.tick.l2,
.tick.d2 {
  background: rgb(0, 125, 23);
}

.tick.l3,
.tick.d3 {
  background: rgb(152, 0, 0);
}

.spine {
  width: 1px;
  height: 15px;
  background: rgb(191, 191, 191);
  position: absolute;
  left: 50%;
  top: -15px;
}
